.date-picker .arrow-button {
    -fx-background-color: #5c0e63;
    -fx-background-radius: 0;
    -fx-border-width: 2;
    -fx-border-color: #5c0e63;
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 5 5 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: #76117d;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

.date-picker .cell {
    -fx-background-color:  #ccccff;
    -fx-base: #ccccff;
}

.date-picker .cell:hover {
    -fx-background-color: #76117d;
}

.date-picker .selected {
    -fx-background-color: #4f0b52;
    -fx-text-fill: white;
}

.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: #5c0e63;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: #5c0e63;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}

.date-picker .text-field {
    -fx-background-color: #ccccff;
    -fx-border-color: #5c0e63;
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}