
.spinner .increment-arrow-button {
    -fx-background-color: #5c0e63;
}

.spinner .increment-arrow {
    -fx-background-color: white;
    -fx-fill: white;
}

.spinner .decrement-arrow-button {
    -fx-background-color: #5c0e63;
}

.spinner .decrement-arrow {
    -fx-background-color: white;
    -fx-fill: white;
}

.spinner .text-field {
    -fx-background-color: #ccccff;
    -fx-border-color: #5c0e63;
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 8 0 0 8;
}