.text-area {
    text-area-background:  #ccccff ;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}